@charset "utf-8";
*{margin:0; padding:0; }
body {  width:100%; background:#f2f2f2;}
/* main */
.main { margin:0; padding:0;}
.main_resize { margin:0 auto; padding:0 10px; width:958px; border-right:1px solid #ececec; border-left:1px solid #ececec; border-bottom:1px solid #ececec; background:#fff;}
.main_resize h2 { font:normal 18px Arial, Helvetica, sans-serif; color:#2a2a2a; padding:10px 5px; margin:0;}
.main_resize h2 span { font:  italic 11px Arial, Helvetica, sans-serif; color:#b1b1b1;}
.main_resize h3 {
	font:normal 44px Arial, Helvetica, sans-serif;
	color:#7e7e7e;
	margin:0;
	border-bottom:1px solid #CCCCCC;
	text-align:right;
	padding-top: 20px;
	padding-right: 5px;
	padding-bottom: 20px;
	padding-left: 5px;
}
.main_resize p {
	color:#606060;
	line-height:1.5em;
	padding:2px;
	margin:0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}
.main_resize p span { color:#b1b1b1; font: italic 11px Arial, Helvetica, sans-serif; line-height:1.8em;}
.main_resize a { color:#2d75c0; text-decoration:none;}
.main_resize img { margin:5px auto; padding:0;}
.main_resize ul.serv { list-style:none; margin:10px 0 10px 5px; padding:0; width:230px; float:left;}
.main_resize li.serv { padding:5px; margin:0; font:normal 12px Arial, Helvetica, sans-serif; color:#2d75c0;}
.main_resize img.floated { float:left; margin:5px 10px 5px 0; padding:0;}
.main_left { width:250px; float:left; padding:0 0 0 10px; margin:0;}
.main_right { width:680px; float:right; padding:0; margin:0;}
.blog { width:280px; float:left; padding:0; margin:10px 30px 10px 10px;}
.blog2 { width:215px; float:left; padding:0; margin:10px 10px 30px 0;}
/* header */
.header { padding:0 0 10px 0; margin:0 auto; border-bottom:1px solid #dfdfdf;}
/* logo */
.logo {padding:0; margin:0; width:232px; float:left;}
.logo img { margin:0; padding:0;}
/*menu*/
.menu { width:555px; padding:10px 0 0 0; margin:0; float:left; }
.menu ul { padding:0; margin:0; list-style:none; border:0;}
.menu ul li { display:inline;  margin:0; padding:0; border:0; background:none;}
.menu ul li a {  display:inline; margin:0; padding:11px; color:#5a5a5a; font:normal 11px Arial, Helvetica, sans-serif; text-decoration:none;}
.menu ul li a:hover { background: #dfdfdf;}
.menu ul li a.active {  background: #dfdfdf;}
/* slider_main */
.slider_main {
	margin:0 auto;
	padding:0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DFDFDF;
}

.slider_main .leftt h2 { font: normal 24px Arial, Helvetica, sans-serif; color:#616161; padding:71px 0 0 24px; margin:0; line-height:1.2em;}
.slider_main .leftt p { font: normal 12px Arial, Helvetica, sans-serif; color:#818181; padding:10px 0 15px 24px; margin:0; line-height:1.8em;}
.slider_main .leftt img { float:left; margin:0; padding:0 0 0 24px;}
/* search */
.search {
	padding:0;
	margin-top: 0;
	margin-right: auto;
	margin-left: auto;
}
.search form { display:block; float:left; padding:5px; margin:0; background:#fafafa;}
.search p { font: bold 11px Arial, Helvetica, sans-serif; color:#959595; padding:7px 0; height:16px; margin:0; float:left; line-height:14px;}
.search span { display:block; float:left; background:#f6f6f6; border:1px solid #eaeaea; width:150px; padding:0 5px; height:30px; margin:0 3px;}
.search form .keywords {
	line-height:16px;
	float:left;
	border:0;
	width:150px;
	height:16px;
	background:none;
	margin:0;
	font:normal 14px Arial, Helvetica, sans-serif;
	color:#9c9c9c;
	padding-top: 7px;
	padding-right: 0;
	padding-bottom: 7px;
	padding-left: 0;
}
.search form .button { float:left; position: absolute;}
/* right_text */
.right_text { border-top:1px solid #dadada; background:#ececec; padding:0; margin:0 0 30px 0;}
.right_text p { font: normal 11px Arial, Helvetica, sans-serif; color:#7e7e7e; padding:15px; margin:0;}
/********** contact form **********/
#contactform { margin:0; padding:5px 10px; }
#contactform * { color:#F00; }
#contactform ol { margin:0; padding:0; list-style:none; }
#contactform li { margin:0; padding:0; background:none; border:none; display:block; clear:both; }
#contactform li.buttons { margin:5px 0 5px 0; clear:both; }
#contactform label { margin:0; width:150px; display:block; padding:10px 0; color:#222222; font: normal 12px Arial, Helvetica, sans-serif; text-transform:capitalize; float:left; }
#contactform label span { color:#F00; }
#contactform input.text { width:530px; border:1px solid #e8e8e8; margin:2px 0; padding:5px 2px; height:16px; background:#f8f8f8; float:left; }
#contactform textarea { width:530px; border:1px solid #e8e8e8; margin:2px 0; padding:2px; background:#f8f8f8; float:left; }
#contactform li.buttons input { padding:3px 0 3px 0px; margin:10px 0 0 0; border:0; color:#FFF; float:left; }
/*************footer**********/
.footer {padding:5px 0;  margin:0;}
.footer_resize { width:958px; margin:0 auto; padding:10px 10px; background:#202020;}
.footer p { font:normal 11px  Arial, Helvetica, sans-serif; color:#a2a2a2;}
.footer a { font:normal 11px Arial, Helvetica, sans-serif; color:#2d75c0; text-decoration:none; padding:5px; margin:0;}
.footer p.right { text-align:right; width:350px; margin:0; padding:8px 0 0 0; float:right;} 
.footer p.leftt { text-align:left; width:550px; margin:0; padding:8px 0 0 5px; float:left;} 

p.clr, .clr { clear:both; padding:0; margin:0; background:none;}
li.bg, .bg {  clear:both; border-top:1px solid #f2f2f2; width:100%; padding:0; margin:15px 0; background:none; line-height:0;}

/* Slider */
#slider {  width:958px; padding:10px 0 0 0; margin:0;  overflow:hidden;}
#slideshow { margin:0 auto; float:left; width:740px;  height: 334px; border:solid 3px #FFF;}
.controls-center { width: 200px;float: right;margin-right: 5px }
#slider_controls {
	float: left;
	margin-top: 0;
	margin-right: 15px;
	margin-bottom: 0;
	margin-left: 0;
}
#slider_controls ul li { background:none; margin: 0; padding: 0; list-style: none; }
#slider_controls ul li a { border:solid 3px #FFF; 
width: 190px; height: 100px; display: block; float: left; padding:2px; margin:2px !important; margin:1px 1px; outline: none; }
#slider_controls ul li a:focus { outline: none; }
#slider_controls ul li a:hover,
#slider_controls ul li a.activeSlide { border:solid 1px #000; }

/*chuyên mục - category*/
ul.main {
	margin:0 0 11px 0;
	background:#ECEFE7;
	list-style:none;
	padding:0 2px;
	}
ul.main li {
	padding:4px 4px 6px 5px;
	border-bottom: 1px #666 dashed;
	}
ul.main a {
	padding:0 0 0 12px;
	background:url(images/arrow.gif) no-repeat 0 7px;
	}
ul.main a:hover {
	font-size:14px;
	color:#c0c0c0;
	}
	
/*phân trang*/
 .page{
 padding-top:10px;
 padding-right:10px;
 float:right;}
.page li a{ 
padding-left:5px;
padding-right:5px;
text-decoration:none;
list-style-type:none;
	float:left;
    border: 1px solid #D1D1D1;
    color: #27C034;
    font-size: 11px;
    padding: 6px 9px;
    text-decoration: none;
	}
.page li a:hover{
	background-color: #EBEBEB;
    border-color: #9E9E9E;
    color: #000000;}
.page li {
	padding-left:10px;
	line-height:100%;
	text-decoration:none;
	list-style-type:none;
	float:left;
	}
 .ap {
 color:#27C034;}
 .aactive {
 color:#313131;
 background-color: #EBEBEB;}
 #h2 {
 float:left;
 position:fixed;
left:100px;
top:150px;
 }

