
div.table {
	float:center;
	position:relative;
	width:100%;
	margin-bottom: 37px;
	margin-top:10px;
	}
table.listing {
	border-bottom:1px solid #c0c0c0;
	background:#c0c0c0;
	width:100%;
	padding:0;
	margin:0;
	border:1px solid #c0c0c0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	}
table.listing th {
	border-top:0 !important;
	}

table.listing th.full {border-left:0;border-right:0 !important;text-align:left;text-transform:uppercase;}
/* table styles */
table.listing td,
table.listing th {
	border:1px solid #fff;
	text-align:center;
	}	
table.listing th {
	color:#fff;
	padding:5px;
	}
table.listing td {
	background:#D8D8D8;
	color:#000;
	padding:3px 5px;
	}
table.listing tr:nth-child(odd) td {
	background:#ECECEC;
	}
table.listing .white td {
	background:#fff;
	}	
table.listing th:first-child, table.listing td:first-child {border-left:0px solid #9097A9;}
table.listing th:last-child, table.listing td:last-child {border-right:0px solid #9097A9;}

table.listing th:first-child {
	
	border-left:0;
	}

table.listing .style1 {font-weight:bold;color:#FF7A00;}
table.form td:last-child {padding:1px 0 1px 5px;text-align:left;}
table.form th,
table.form td {padding-left:10px;}
table.form input.text {width:262px}

/* table select */
div.table .select {
	float:right;
	margin:2px 1px 0 0;
	width:176px;
	height:25px;
	background:#9097A9;
	color:#fff;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	}
div.table .select strong {
	float:left;
	padding:5px 0 0 5px;
	}	
div.table .select select {
	float:right;
	width:78px;
	margin:2px 3px 0 0;
	text-align:right;	
	}
table.table_veiw td{
	padding-bottom:10px;
	padding-top:10px;
	width:120px;
}
p.ds{
	font-size:11px;
}